html { overflow:  hidden; }
body {margin: 0;}
input{
    /* color:#ffffff; */
    /* z-index: 1000;  */
    /* position:absolute; 
    margin-top: 25px */
    margin: 6px;

}
#inset {
    width: 150px;
    height: 150px;
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none; /* or none; */
    margin: 0;
    padding: 0px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 100;
}
form{
    /* background-color: rgb(233, 233, 241); */
    /* width: 20%; */
    width: 70px;
}
/* .btn-dir{
    width: 85px;
} */

/* svg menu */
.hover:hover {
    stroke: aqua;
}
.menu-box, .menu-box>svg {
    width: 25px;
    height: 25px;

}
.menu-box{
    /* margin:5px; */
    cursor:pointer;
    z-index: 5;
}
.container{
    display: flex;
    margin: 5px;
}

/*slider*/
.slider {
    -webkit-appearance: none;
    /* width: 100%; */
    height: 10px;
    border-radius: 5px;
    /* background: #d3d3d3; */
    background: rgb(146, 176, 179);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background: #4CAF50; */
    background: rgb(100, 100, 100);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background: #4CAF50; */
    background: rgb(100, 100, 100);
    cursor: pointer;
}

/* кнопка пересчитать*/
button#recalc {
    margin-left: 5px;
    background-color: #ddd;
    border: 0;
    outline: 0;
    padding: 4px 4px;
    font-size: 1.01rem;
    /* font-family: monospace; */
    /* box-shadow: 0px 5px 10px #0057ab; */
    box-shadow: 0px 5px 10px #a4bdc0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 4px solid #92b0b3;
  }
  button#recalc:hover {
    box-shadow: 0px 15px 25px -5px #a4bdc0
    /* box-shadow: 0px 15px 25px -5px #0057ab; */
    /* -webkit-transform: scale(1.03);
    transform: scale(1.03); */
  }
  button#recalc:active {
    box-shadow: 0px 4px 8px #7f92a5;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
/* title */
.title_ {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
   }
   .title_:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    opacity: 0.9;
    left: 20%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255, 255, 230, 0.993); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
   }
