	.description_category {	
		width:879px;
		height:324px;
		top: 76px; 
		left: 0px;	
        position: absolute;
        z-index: 1;		
       }
@media screen and (min-width: 1400px) {/* если окно браузера больше максимальной ширины сайта */ 
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}	   
.promo_baner_category
	   {	position: absolute;
		width:584px;
		height:648px;
		top: 1049px; 
		left: 586px;        
        z-index: 1;		
       }
.outlinec {
	    //position: absolute;
		position: relative;
		//top: 408px; 
		//left: 390px;
		top: 1329px; 
		left:636px;
		border: 3px solid #ed1651;	   
		width:165px;
		height:45px;
        text-align: center; 
        display: inline-block;
		font-family:"Supermolot";
		font-size:18px ;
		font-style:Italic;
		font-weight: 350;
		color:#000000;
		z-index: 3;
	   }
.price_promo {
	    //position: absolute;
		position: relative;
		//top: 408px; 
		//left: 390px;
		top: 1225px; 
		left:636px;
		//border: 3px solid #ed1651;	   
		//width:165px;
		//height:45px;
        //text-align: center; 
       // display: inline-block;
		font-family:"Supermolot";
		font-size:36px ;
		font-style:Italic;
		font-weight: 600;
		color:#ed1651;
		z-index: 3;
	   }
.price_promo span{font-size:30px ;}
.product{
		 padding: 24px 28px;
         display: inline-block;
		 width:122px;
		 font-family:"Supermolot";
		 font-size:24px ;
		 font-style:Regular;
		 color:#021562;
		 width:336px;	
	}   
	
	.Baner2-text1{	   
	     top:35px;
		 left:502px;		        	 
		 position: absolute;		
		 font-family:"Supermolot";
		 font-size:24px ;
		 font-style:Italic;
		 font-weight: bold;
		 color:#021562;
	}
	.Baner2-text2{			
		 font-family:"Supermolot";
		 font-size:14px ;
		 font-style:normal;
		 font-weight: 300;
		 line-height: 24px;
		 color:#000000;
	}	
	.header_promo{	   
	     top:1096px;
		 left:636px;
         width:300px;
		 display: inline-block;
         margin: 0 auto;
         padding: 0px 0px 0px 0px;		 
		 position: absolute;		
		 font-family:"Supermolot";
		 font-size:36px ;
		 line-height: 36px;
		 font-style:Italic;
		 font-weight: bold;
		 z-index: 10;
	    }
    .specification_promo{
		 position: absolute;
		 top: 1182px; 
		 left: 636px;
		 width:800px;
		 font-family:"Supermolot";
		 font-size:14px ;
		 font-style:Light;
		 font-weight: 300;
		 line-height: 24px;
		 z-index: 10;
	    }				
	
	.number_of_visible{
	    position: absolute;
		 top: 244px; 
		 left: 115px;
		 width:800px;
         font-family:"Supermolot";		
		 font-size:14px ;
		 font-style:Light;
		 font-weight: 300;
		 line-height: 60px;
		 color:#999999;
		 z-index: 3;
		}
	.description_text_category{
		 position: absolute;
		 top: 152px; 
		 left: 44px;
		 width:800px;
         font-family:"Supermolot";		
		 font-size:38px ;
		 font-style:Italic;
		 font-weight: 500;
		 line-height: 36px;
		 z-index: 3;
	    }
	.short_description_text_category{
		 position: absolute;
		 top: 193px; 
		 left: 44px;
		 width:800px;
		 font-family:"Supermolot";
		 font-size:14px ;
		 font-style:Light;
		 font-weight: 300;
		 line-height: 24px;
		 z-index: 3;
	    }
