
.home_banner {	
		width:1400px;
		height:709px;
		top: 0px; 
		left: 0px;	
        position: absolute;
        z-index: 1;		
       }
@media screen and (min-width: 1400px) {/* если окно браузера больше максимальной ширины сайта */ 
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}	   
.product{
		 padding: 24px 28px;
         display: inline-block; /* Строчно-блочный элемент */
		 width:122px;
		 font-family:"Supermolot";
		 font-size:24px ;
		 font-style:Regular;
		 color:#021562;
		 width:336px;	
	}
.Supershop{
		 position: absolute; 
		 top: 235px; 
		 left: -125px;
		 font-family:"Supermolot";
		 font-size:340px;
		 font-style:Italic;
		 font-weight: bold;
         line-height: 430px;
		 color:#333333;
		 opacity:0.08;
		 z-index: 3;
	    }
.Baner2-text1{	   
	     top:35px;
		 left:502px;		        	 
		 position: absolute;		
		 font-family:"Supermolot";
		 font-size:24px ;
		 font-style:Italic;
		 font-weight: bold;
		 color:#021562;
	}
.Baner2-text2{			
		 font-family:"Supermolot";
		 font-size:14px ;
		 font-style:normal;
		 font-weight: 300;
		 line-height: 24px;
		 color:#000000;
	}	
.Promo1-text1{	   
	     top:220px;
		 left:630px;		        	 
		 position: absolute;		
		 font-family:"Supermolot";
		 font-size:32px ;
		 line-height: 36px;
		 font-style:Italic;
		 font-weight: bold;
	    }
.Promo1-text2{	 	
		 font-family:"Supermolot";
		 font-size:32px ;
		 line-height: 36px;
		 font-style:Italic;
		 font-weight: 300;
		 word-wrap: break-word;
	    }		
.header_logo_promo{
	     position: absolute;
		 font-family:"Supermolot";
		 top: 226px; 
		 left: 115px;
		 line-height: 62px;
		 z-index: 3;
		}
.logo_promo1-text1{	  
		 font-size:72px ;
		 font-style:Italic;
		 font-weight: bold;
		 z-index: 3;
	    }
.logo_promo1-text2{		
		 font-size:72px ;
		 font-style:Italic;
		 font-weight: 300;
		 letter-spacing: -3px;	
		 z-index: 3;
	    }
.logo_promo1-text3{	 		
		 font-size:16px ;
		 font-style:Regular;
		 font-weight: 300;
		 color:#ffffff;
		 line-height: 43px;
		 z-index: 3;
	    }
