html { overflow:  hidden; }
input{
    /* color:#ffffff; */
    /* z-index: 1000;  */
    /* position:absolute; 
    margin-top: 25px */
    margin: 6px;

}
#inset {
    width: 150px;
    height: 150px;
    background-color: transparent; /* or transparent; will show through only if renderer alpha: true */
    border: none; /* or none; */
    margin: 0;
    padding: 0px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 100;
}
form{
    /* background-color: rgb(233, 233, 241); */
    /* width: 20%; */
    width: 70px;
}
/* .btn-dir{
    width: 85px;
} */

/* svg menu */
.hover:hover {
    stroke: aqua;
}
.menu-box, .menu-box>svg {
    width: 25px;
    height: 25px;

}
.menu-box{
    /* margin:5px; */
    cursor:pointer;
    z-index: 5;
}
.container{
    display: flex;
    margin: 5px;
}

